.footer {
    background-color: hsl(167, 44%, 70%);
    display: block;
    .logo {
        width: 10.625rem;
        height: auto;
        padding: 3.75rem 0 2.5rem 0;
        margin: 0 auto;
        display: block;
    }
    &__menu {
        padding-left: 0;
        li {
            color: $darkModerateCyan;
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            a {
                &:hover{
                    color: $white;
                }
            }
        }
    }
    &__socials {
        text-align: center;
        a {
            margin: 5rem 0;
            margin-right: 1.5625rem;
            justify-content: center;
        }
        a:last-child {
            margin-right: 0;
        }

    }
    
}