.header {
    background-image: url('/images/mobile/image-header.jpg');
    height: 33.625rem;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    z-index: auto;

    nav {
        padding: 1.875rem 1.5rem;
        position: relative;
        .hamburger {
            cursor: pointer;
        }

    }

    .header__links {
        position: absolute;
        background-color: $white;
        color: $veryDarkGrayishBlue;
        width: 90%;
        left: 5%;
        display: none;
        top: 5.3125rem;
        z-index: 1;
        padding: 6.666666666666667rem 0;
        li {
            padding-bottom: 6.666666666666667rem;
            text-align: center;
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
        }
        li:last-child {
            padding-bottom: 0;
        }
    
    }

    h1 {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-size: 2.111111111111111em;
        font-weight: 900;
        letter-spacing: 7px;
        margin: 3.75rem 0 3.4375rem 0;
    }
    .arrow {
        margin: auto;
        display: block;
    }

}

