.main {
    text-align: center;
    .transform {
        flex-direction: column;
        &__image {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__text {
            padding: 3.75rem 1.6875rem;
            h2 {
                font-size: 1.777777777777778em;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                margin-top: 0;
            }
            p {
                line-height: 1.666666666666667rem;
                color: $darkGrayishBlue;
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
            }
            a {
                text-transform: uppercase;
                font-family: 'Fraunces', serif;
                font-weight: 700;
                font-size: 0.8888888888888889em;
                margin-top: 1.875rem;
                display: inline-block;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background-color: $yellow;
                    border-radius: 0.625rem;
                    opacity: 0.5;
                    width: 140px;
                    height: 9px;
                    bottom: -2px;
                    right: -12px;
                    z-index: -1;
                }
            }
        }
    }
    .standout {
        flex-direction: column;
        &__image {
            img {
                width: 100%;
                height: auto;
            }
        }
        &__text {
            padding: 3.75rem 1.6875rem;
            h2 {
                font-size: 1.777777777777778em;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                margin-top: 0;
            }
            p {
                line-height: 1.666666666666667rem;
                color: $darkGrayishBlue;
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
            }
            a {
                text-transform: uppercase;
                font-family: 'Fraunces', serif;
                font-weight: 700;
                font-size: 0.8888888888888889em;
                margin-top: 1.875rem;
                display: inline-block;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background-color: $softRed;
                    border-radius: 0.625rem;
                    opacity: 0.5;
                    width: 140px;
                    height: 9px;
                    bottom: -2px;
                    right: -12px;
                    z-index: -1;
                }
            }
        }
    }

    .graphic {
        position: relative;
        background-image: url('/images/mobile/image-graphic-design.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 37.5rem;

        &__text {
            position: absolute;
            bottom: 3.125rem;
            color: $darkDesaturatedCyan;
            h3 {
                font-size: 1.5em;
                font-family: 'Fraunces', serif;
                font-weight: 900;
            }
            p {
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
                font-size: 0.8888888888888889em;
                line-height: 1.5625rem;
                padding: 0 0.9375rem;
                padding-right: 1.25rem;
            }
        }
    }

    .photography {
        position: relative;
        background-image: url('/images/mobile/image-photography.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 37.5rem;

        &__text {
            position: absolute;
            bottom: 3.125rem;
            color: $darkDesaturatedCyan;
            h3 {
                font-size: 1.5em;
                font-family: 'Fraunces', serif;
                font-weight: 900;
            }
            p {
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
                font-size: 0.8888888888888889em;
                line-height: 1.5625rem;
                padding: 0 0.9375rem;
                padding-right: 1.25rem;
            }
        }
    }

    .testimonials {
        h4 {
            margin: 3.75rem 0;
            text-transform: uppercase;
            font-family: 'Fraunces', serif;
            color: $grayishBlue;
            letter-spacing: 3px;
            font-size: 0.8888888888888889em;
            font-weight: 900;
        }
        .client__info {
            img {
                height: 4.5rem;
                width: 4.5rem;
                border-radius: 50%;
            }
            p {
                margin: 2.5rem 0;
                color: $veryDarkGrayishBlue;
                font-weight: 600;
                font-family: 'Barlow', sans-serif;
                padding: 0 1.375rem;
                line-height: 1.875rem;
            }
            h5 {
                font-weight: 900;
                font-size: 1em;
                font-family: 'Fraunces', serif;
                margin: 1.5625rem 0 0.625rem 0;
            }
            small {
                color: $grayishBlue;
                display: block;
                margin-bottom: 4.0625rem;
                font-family: 'Barlow', sans-serif;
            }
        }
    }
    .gallery {
        flex-wrap: wrap;
        img {
            width: 50%;
        }
    }
}