
@media screen and (min-width: 540px) {
    .header {
        background-position: center bottom;
        background-image: url('/images/desktop/image-header.jpg');
        h1 {
            padding: 0 1.25rem;
        }
    }
    .main {
        .transform__text,
        .standout__text {
            padding: 7rem 5rem;
        }
        .photography {
            background-image: url('/images/desktop/image-photography.jpg');
        }
        .graphic {
            background-image: url('/images/desktop/image-graphic-design.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .header {
        height: 50rem;
        nav {
            .desktop-menu {
                display: flex;
                li {
                    margin-right: 3.125rem;
                }
                li:last-child {
                    margin-right: 0;
                }
                .button {
                    background-color: $white;
                    &:hover {
                        background-color: #6BD0FF;
                        color: $white;
                    }
                }
            }
        }
    
        h1 {
            font-size: 3.125em;
            margin: 9.375rem 0 3.4375rem 0;
        }
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .transform__text,
        .standout__text {
            display: flex;
            flex-direction: column;
            padding: 1.25rem;
            text-align: left;
            justify-content: center;
            h2 {
                font-size: 1.777777777777778em;
                margin: 0;
            }
            a {
                margin-top: 0;
                margin-left: 0.9375rem;
                align-self: flex-start;
                &::after {
                   &:hover {
                    opacity: 1;
                   }
                }
            }
        }

        .transform__text {
            grid-column: 1 / 2;
            grid-row:  1 / 2;
        }
        
        .testimonials {
            grid-column: 1 / span 2;
            grid-row:  4 / 5;
            margin: 6.25rem 0;
            .testimonials-desktop {
                display: flex;
                justify-content: center;
                .client__info {
                    margin: 0 0.625rem;
                }
            }
        }
        .gallery {
            grid-column: 1 / span 2;
            grid-row:  5 / 6;
            flex-wrap: nowrap;
            img {
                width: 25%;
            }
        }
    
    }  
    
    .footer {
        ul {
            justify-content: center;
            li {
                margin-right: 3.125rem;
            }
            li:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width: 1050px) {
    .main {
        .transform__text,
        .standout__text {
            padding: 0 6.25rem;
        }
    }
}

@media screen and (min-width: 1300px) {
    .main {
        .transform__text,
        .standout__text {
            padding: 0 9.375rem;
        }
    }
}